<div class="container">

  <div>

    <h2>Internships</h2>
    <%= render "components/searchbar" %>
  </div>

  <% @positions.each do |position| %>
    <div class="card-job-description mb-2">
          <div class="card-job-description-infos">
            <h2> <%= link_to position.title, position_path(position) %> </h2>
            <p><%= position.description %>. <strong><%= position.salary %> yen per hour</strong> </p>
          </div>
    </div>
  <% end %>
</div>

