<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlzehsqej/image/upload/v1611760604/pexels-daria-shevtsova-1560932_n2yuxx.jpg);">
  <div class="container">
    <h1><strong>Internup brings you great opptunities to expand your experience!</strong></h1>
    <p>Many start-up are waiting you to apply</p>
    <!-- <a class="btn btn-flat" href="#"></a> -->
  </div>
</div>
