<div class="container">

  <div>
    <h2 class="mt-2"><%= "Your Applications" %></h2>
  </div>

  <% @submissions.each do |submission| %>
  <%= render "components/internship-description", position: submission.position, status: submission.status%>
  <% end %>
</div>
